body { 
	background-color: #7c7a7a; 
	}
.backdrop {
	width: 1000px;
}
.header {
	background-color: #810202; 
	border-bottom: 3px solid black; 
 	height: 60px; 
    padding-top: 30px; 
	padding-left: 20px;
	}
	
.intro_text { 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #373734;
/*	height: 340px; */
	margin: 0 30 25 40px;
	padding: 20px;
	width: 300px;
	float: left;
	}
 .intro_text p, .intro_text ul  {
	font-family: arial;
	font-size: 11pt;
	color: #fff;

  }	
.intro_text li {
	margin-bottom: 15px;
}
 .intro_text a, .intro_text a:visited, .footer a, .footer a:visited, .footer p { color: #e1e1e2; }
 
.horizontal_list {
	list-style-type: none;
}

.horizontal_list li {
	display:inline;
	padding-right: 15px; 
	font-family: arial;
}

li a, li a:visited {
	font-family: arial;
	color: #000;
}

.details_images {
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 20px solid #373734;
	margin-right: 25px;
	margin-bottom: 25px;						
}

 .image_lg {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #373734;
	padding: 20px;
	float: right;
	margin-right: 30px;
	margin-bottom: 26px;
	height: 340px;
	width: 400px;
	}
 .capital {
	font-size: 22pt; 
	font-weight: normal;
    }
  .footer {
	background-color:#810202;
	font-family:arial;
	font-size:9pt;
	float: left;
	text-align:center;
	width:98.6%;
	border-top: 3px solid black;
  }

  .images {
	margin-left: 20px;
	float: left;
}

/* slideshow styles */
.slideshow_images {
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 20px solid #373734;
	margin: 0 25 25 25px;
						
}

.slideshow_text {
	float: right;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #373734;
	margin: 0 25 25 0px;
	padding: 15px;
	font-family: arial;
	font-size: 11pt;
	color: #fff;
}

.slideshow_text a, .slideshow_text a:visited {
	font-family: arial;
	font-size: 11pt;
	color: #fff;
}


/* image popup styles*/
.right {
	float: right;
	margin-top: 10px;
}

.panel_popup {
	margin: 20px;
}

.panel_link {
	position: absolute; 
	display: none; 
	background: #373734; 
	border: 1px solid #000; 
	z-index: 100;
}